/* for screens between 560 pixels and 1300 pixels */

@media screen and (min-width: 560px) {

    body {
        background-image: url(/images/circuit.jpg);
        background-size: cover;
    }
    
    /*  margin the content div */

    .list-item__site-link {
        font-size: 1.3rem;
    }

    /* Add border raidus to the content div */

    .logo {
        width: 240px;
    }

    .cta-box {
        font-size: 1.2rem;
    }

    .venues {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .venue-heading {
        grid-column: 1/-1;
    }

    .fig-1, .venue1 {
        grid-column: 1;
    }

    .fig-2, .venue2 {
        grid-column: 2;
    }

    iframe {
        max-height: 35vh;
        min-height: 35vh;
    }

    .contact-form,
    .cta-box {
        width: 560px;
    }

    .contact-form {
        font-size: 1.2rem;
    }

    .form-button {
        font-size: 1.5rem;
    }

    .site-footer {
        border-radius: 0 0 10px 10px;
    }

}